services:
  postgres:
    container_name: postgres-db
    image: postgres:latest
    restart: always
    env_file:
      - .env
    ports:
      - "5434:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "root", "-d", "task-mgmt"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: task-backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: task-frontend
    restart: always
    env_file:
      - ./client/.env
    ports: 
      - "8080:80"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  db_data: